.navber .menu_superior .slide .info_process-output {
    position: absolute;
    left: 300px;
    margin-top: 50px;
    width: clamp(500px, 70vw, 1300px);

    /*     background-color: blue; */
}
/********************************input code , month , data***********************************************/

.info_process-output .input_process {
    position: absolute;
    display: grid;
    left: 0;
    top: 0;
}

.info_process-output .icon_pro {
    font-size: 35px;
    padding: 7px 10px;

    background-color: #022b11;
    color: #00ff28;
    border-radius: 10px 0 0 10px;
}
.info_process-output .icon_pro input {
    position: absolute;
    outline: none;
    top: 0.1px;
    margin-left: 10px;
    border: none;
    height: 49.6px;
    font-size: 16px;
    padding-left: 15%;

    width: 350px;
    border-radius: 0 10px 10px 0;
}

.info_process-output .code_input input::placeholder {
    position: absolute;

    color: red;

    padding: 5px 40px;
    font-size: 35px;
}
.info_process-output .code_input input {
    padding-left: 36px;
}

/************************************************************/

.info_process-output .tex-input {
    top: 14%;
}
.info_process-output .tex-input input {
    padding-left: -5px;
}

.info_process-output .tex-input input::placeholder {
    position: absolute;

    top: 16px;
}

.info_process-output .tex-input svg {
    position: relative;
    top: 25px;
    left: 25%;
}

/********************botones del los********************************/
.tex-input .concept_btn {
    position: relative;
    display: flex;
    padding: 0px;
    top: 5%;

    left: 90px;
    cursor: pointer;
}

.tex-input .concept_btn .concept {
    margin: 0 5px;
    border: 1px solid #022b11;
    padding: 2px 5px;
    border-radius: 10px;
}

.info_process-output .tex-input .concept:hover {
    border: 1px solid #00ff28;
    color: black;

    transition: 200ms ease;
}

/***************************month*******************************************/

.info_process-output .month_input {
    left: 53%;
}

.info_process-output .month_input input::placeholder {
    position: absolute;
    padding: 8px 0;
    color: red;
    left: 20%;
    font-size: 28px;
}

.info_process-output .month_input p {
    position: relative;
    left: 55px;
    margin-top: 5px;
    font-weight: 500;
    color: #022b11;
}
/*******************************tabla sub total************************************************/
.table-sub_total {
    border-collapse: collapse;
    top: 70%;
    left: 50%;
    position: absolute;
    width: 400px;
}
.table-sub_total th {
    background: white;
    position: absolute;
    width: 250px;
    font-weight: 600;
    border-right: 1px solid #022b11;
    border-top: 1px solid #022b11;
    border-left: 1px solid #022b11;
    padding: 0 20px;
    display: flex;

}

.table-sub_total td {
    background: white;
    border-top: 1px solid #022b11;
    border-right: 1px solid #022b11;
    display: block;
    text-align: center;
    margin-left: 250px;
}

.table-sub_total tr:nth-child(1) th {
    border-radius: 10px 0 0 0;
} 

.table-sub_total tr:nth-child(5) th {
    border-radius: 0 0 0 10px;
}
.table-sub_total tr:nth-child(1) td {
    border-radius: 0 10px 0 0;
}
.table-sub_total tr:nth-child(5) td {
    border-radius: 0 0 10px 0;
} 

/**********************tabla de input*********************************************************/
.container_table {
    position: absolute;
    border: none;
    top: 48%;
    /*  background-color: red;    */
    width: 66vw;
    height: 210px;
    left: 0;
    overflow: auto;
    border-radius: 0px;
}

.container_table .table-process {
    position: relative;
    border-collapse: collapse;
}

.table-process th {
    position: sticky;
    background-color: #022b11;
    color: #fff;
    padding: 5px 5px;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
}

.table-process th:nth-child(1) {
    border-radius: 10px 0 0;
}
.table-process th:nth-child(5) {
    border-radius: 0 10px 0 0;
    width: 10vw;
}

.table-process th:nth-child(2) {
    width: 20vw;
}

.table-process tr:nth-child(2) td:nth-child(1) {
    border-radius: 0 0 0 10px;
}

.table-process td:nth-child(5) {
    text-align: center;
}
/* .table-process tr:nth-child(2) td:nth-child(5){
    border-radius: 0 0 10px 0 ;
   
} */

.table-process td {
    padding: 5px 3px;
    border-right: 2px solid #bad5c4;
    background-color: #fff;
    border-top: 2px solid #bad5c4;
}
/****************************input de la table ************************************************/
.table-process .product_code {
    outline: none;
    border: none;
    font-size: 15px;

    padding-left: 10px;
    text-align: center;
}
.table-process .amount {
    outline: none;
    border: none;
    font-size: 15px;
    padding-left: 10px;
    text-align: center;
}

/***********************************botom  de "more" de la table*********************************************/

.info_process-output .butom_more::before {
    position: absolute;
    top: 56%;
    margin-left: 100%;
    content: "+";
    text-align: center;
    color: #00ff28;
    width: 30px;
    height: 30px;
    background-color: #022b11;
    font-size: 23px;
    border-radius: 10px;
    cursor: pointer;
}

.info_process-output .butom_more:hover::before {
    font-size: 24px;
    width: 30px;
    height: 30px;
    padding: 0.5px 0.5px;

    transition: 500ms;
}

/**********************************butom-processoutput************************/

.info_process-output .butom-processoutput {
    position: relative;
    background: #37e47d;
    top: 93%;
    width: 200px;
    display: flex;
    margin-left: 68%;
    font-size: 24px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.info_process-output .butom-processoutput .bxs-archive-in {
    position: relative;
    font-size: 30px;
    padding-top: 2px;
}

.info_process-output .derecho {
    position: relative;
    top: 95%;
    width: 300px;
    left: 30%;
}

/**********************************************************************************************************************/

/******************************position table input-processor ************************************************/

.info_input-processor .container_table {
    /*    background-color: red;*/
    top: 52%;
    height: 190px;
}
/************************************position dinput-processor **************************************************/
.info_input-processor .id_input {
    top: 15%;
}

.info_input-processor .id_input input {
    padding-left: 33px;
}
.info_input-processor .tex-input {
    top: 30%;
}
.info_input-processor .tex-input input {
    top: -0.5px;
}
